<div class="col-md-6 offset-3">

  <div class="form">
    <div class="note">
        <p>Üyelik Kaydı Formu</p>
    </div>

  
    <form  [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="form-group">
        <label >Kullanıcı Adı</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Kullanıcı adı boş bırakılamaz</div>
        </div>
      </div>
      <div class="form-group">
        <label>Şifre</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Şifre alanı boş bırakılamaz</div>
        </div>
      </div>

      <div class="form-group">
        <label>Şifre Doğrulama</label>
        <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required">Şifre doğrulaması boş bırakılamaz</div>
            <div *ngIf="f.confirmPassword.errors.mustMatch">Şifreleriniz eşleşmiyor</div>
        </div>
    </div>

      <div class="form-group">
        <label>Ad</label>
        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required">Ad alanı boş bırakılamaz</div>
        </div>
      </div>

      <div class="form-group">
        <label>Soyad</label>
        <input type="text" formControlName="surname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.surname.errors }" />
        <div *ngIf="submitted && f.surname.errors" class="invalid-feedback">
          <div *ngIf="f.surname.errors.required">Soyad alanı boş bırakılamaz</div>
        </div>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">E-mail alanı boş bırakılamaz</div>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" type="submit" class="btnSubmit">Kayıt Ol</button>
        <a [routerLink]="['/login']" class="btn btn-default">Giriş</a>
      </div>
      <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </form>



  </div>
  </div>